.App {
  text-align: center;
  font-family: "3270Medium Nerd Font";
  background-color: #5E0B15;
}
h3{
  color: #D9CAB3;
}

h1{
  color: #FFFFFF;
}

input{
  background-color: #BC8034;
  color: #5E0B15;
  border: 5px solid #BC8034;
  border-radius: 10px;
  transition: all 0.3s;
}

input:hover{
  background-color: #90323D;
  border: 5px solid #90323D;
  border-radius: 10px;
  color: #8C7A6B;
}
